@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden;
}
.sh {
  box-shadow: 0 0 10px orangered;
}

.af::after {
  content: "";
  position: absolute;
  width: 155%;
  height: 0%;
  background: linear-gradient(rgba(255, 166, 0, 0.329), transparent);
  border-top: none;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  transition: inherit 0.5s;
}
.af:hover::after {
  height: 100%;
  border-top: 2px solid orangered;
}
.af:hover {
  color: orangered;
}
.tr {
  transform: translateY(100%);
}
.pi {
  box-shadow: 0 0 5px white;
}
.topmove {
  animation: topmove 2s linear infinite;
}
@keyframes topmove {
  0% {
    top: 10px;
  }
  20% {
    top: 15px;
  }
  40% {
    top: 20px;
  }
  60% {
    top: 15px;
  }
  80% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}
.topmovee {
  animation: topmovee 2s linear infinite;
}
@keyframes topmovee {
  0% {
    top: 208px;
  }
  20% {
    top: 212px;
  }
  40% {
    top: 222px;
  }
  60% {
    top: 219px;
  }
  80% {
    top: 212px;
  }
  100% {
    top: 208px;
  }
}

.leftmove {
  animation: leftmove 2s linear infinite;
}
@keyframes leftmove {
  0% {
    left: 10px;
  }
  20% {
    left: 15px;
  }
  40% {
    left: 20px;
  }
  60% {
    left: 10px;
  }
  80% {
    left: 5px;
  }
  100% {
    left: 10px;
  }
}
.word::after {
  position: absolute;
  content: attr(value);
  top: 50%;
  left: -50px;
  transform: translate(-50%);
  font-size: 40px;
  font-weight: bold;
  transform: rotate(-90deg);
  transition: 0.7s;
  opacity: 0;
}
.word::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 180px;
  background: rgb(255, 102, 0);
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  z-index: -1;
  transition: 0.7s;
  opacity: 0;
}
.word:hover::after,
.word:hover::before {
  opacity: 1;
}

.el::after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 1px solid grey;
  left: 0;
  bottom: -3px;
}
.preload {
  animation: preload 2s linear infinite;
}
@keyframes preload {
  0% {
    top: 50%;
  }
  20% {
    top: 46%;
  }
  40% {
    top: 44%;
  }
  60% {
    top: 42%;
  }
  80% {
    top: 47%;
  }
  100% {
    top: 50%;
  }
}
.mapsh {
  box-shadow: 0 0 30px orangered;
}
.inputcol {
  background-color: rgba(128, 128, 128, 0.4);
}
.aboutafter::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 123, 0);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
.aboutbefore::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 140%;
  border-radius: 50%;
  background: linear-gradient(rgba(128, 128, 128, 0.123), transparent);
  top: -50px;
  left: -50px;
  z-index: -1;
}
.storecolor {
  background-color: #191918;
}
.product_color {
  background-color: #2e2e2d;
  border: 2px solid rgb(78, 78, 78);
}
.alter {
  animation: alter 2s linear infinite;
}
@keyframes alter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.background {
  background: linear-gradient(
    to right,
    rgba(10, 10, 10, 0.64),
    rgba(10, 10, 10, 0.24)
  );
}
.filter {
  border: 2px solid white;
}
.effect_preload {
  animation: load 1.5s linear  infinite;
}
@keyframes load {
  0% {
    width: 0%;
    height: 0%;
    border-radius: 50%;
  }
  10% {
    width: 10%;
    height: 10%;
    border-radius: 45%;
  }
  20% {
    width: 20%;
    height: 20%;
    border-radius: 40%;
  }
  30% {
    width: 30%;
    height: 30%;
    border-radius: 35%;
  }
  40% {
    width: 40%;
    height: 40%;
    border-radius: 30%;
  }
  50% {
    width: 50%;
    height: 50%;
    border-radius: 25%;
  }
  60% {
    width: 60%;
    height: 60%;
    border-radius: 20%;
  }
  70% {
    width: 70%;
    height: 70%;
    border-radius: 15%;
  }
  80% {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
  90% {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
}
